extends ../layout.pug

block content
  img.d-block.w-100(src='/images/main-banner.jpg')

  #gallery.row.m-5.color-white
    .row.p-5
      h2 Welcome to our Village Homestays
      p.lead Village Homestays helps in connecting remote mountain villages across the globe and ensures their development through responsible and sustainable infrastructure.
    .row
      .col-md-4
        img.d-block.w-100(src='/images/gallery-1.jpg')
      .col-md-4
        img.d-block.w-100(src='/images/gallery-1.jpg')
      .col-md-4
        img.d-block.w-100(src='/images/gallery-1.jpg')

  #location
    .embed-responsive.embed-responsive-16by9
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3689.8035251810807!2d71.87132913057299!3d22.361046338888077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39592b51dc9f24e3%3A0xc70bb52dd323dd46!2sThe+Village+Retreat%2C+Vagad!5e0!3m2!1sen!2sin!4v1544875907103" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)

  #contact.row.color-white
    .col-md-6.p-5
      h3 Experiences
      p.mt-3.lead Experience with us the unexplored side of Vagadh! We promise some unique and inspirational journeys to our homestays in the villages. By travelling with us, join our vision to ensure a sustainable and holistic development of these remote communities through tourism. Homestays based tourism ensures better livelihood for these communities and empowerment of village women.
    .col-sm-6.p-5
      address
        .lead Mannarsinh M. Chudasama
        br
        = 'Darbargadh, Vagad'
        br
        =  'Taluka Dhandhuka, '
        br
        = 'Ahmedabad: 382245'
        br
        i.fa.fa-phone 99999999
      .mx-auto
        a(href='https://facebook.com/abhay')
          i.mx-2.fa.fa-facebook
        a(href='https://instagram.com/abhay')
          i.mx-2.fa.fa-instagram
        a(href='https://twitter.com/abhay')
          i.mx-2.fa.fa-twitter
