extends ../layout.pug

block content
  img.d-block.w-100(src='/images/main-banner.jpg')

  #gallery.row
    .col-md-6.centered-text.text-justify
      p.lead Founded in 2006, Joy Entertainment is now an established name as a record label & psychedelic music event organisers that are based out of India. We promote and dedicate to bringing the best of psychedelic music in an aim to entertain fans and followers of this globally recognized culture.
    .col-md-6.p-5
      .embed-responsive.embed-responsive-16by9
        iframe(width="560" height="315" src="https://www.youtube.com/embed/o2yEOQSKGAg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

  #contact.row.color-offwhite
    .col-md-6.p-5
      h2 GOT TUNES?
      p.mt-3.lead We are always looking for some new music. If you have an excellent piece of sound, please dont hesitate from sending it over. Our team of expert sound artists will look at. If you got yourself a copy of fruity loops 2 weeks ago, you are probably not ready to send a demo to us! But if it's organic, trippy or futurustic with incredible sound design, production and programming then we will gladly accept!
    .col-sm-6.p-5
      h2 BE THE FIRST TO KNOW ABOUT OUR EXCLUSIVE UPDATES
      .input-group.mt-3.mb-5.pr-md-5
        input.form-control.form-control-lg.bg-white.border.border-white(type='text' placeholder='Email Address')
        .input-group-append
          span.input-group-text.bg-warning.spaced-letters
            strong Get on the List


  img.d-block.w-100(src='/images/bottom-banner.jpg')

  #follow.color-offwhite
    .row
      h1.mx-auto
        strong FOLLOW JOY ENTERTAINMENT
    .row
      .mx-auto
        i.mx-2.fa.fa-youtube
        i.mx-2.fa.fa-facebook
        i.mx-2.fa.fa-instagram
        i.mx-2.fa.fa-twitter
        i.mx-2.fa.fa-spotify
