doctype html
html(lang="en")
  head
    title Joy Entertainment
    link(href='/stylesheets/bootstrap-4.0.0.min.css' type="text/css" rel="stylesheet")
    link(href='/stylesheets/main.css' type="text/css" rel="stylesheet")
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/bootstrap-4.0.0.min.js')
  body
    header
      #navbar.navbar.navbar-expand-lg.fixed-top.bg-dark
        a.navbar-brand(href='#') Joy Entertainment
        button.navbar-toggler(type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link.js-scroll-trigger(href="#") Home
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#artists") Artists
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#events") Events
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#gallery") Gallery
            li.nav-item
              a.nav-link.js-scroll-trigger(href="#contact") Contact
    main(role='main')
      block content
    footer
      block foot
